<table>
  <tr>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Destination</th>
    <th>Departure Time</th>
  </tr>
  <% @flights.each_pair do |id, info| %>
    <tr>
      <td><%= info[:airline] %></td>
      <td><%= info[:flight] %></td>
      <td><%= info[:destination] %></td>
      <td><%= info[:time] %></td>
      <td>
        <form class='inline' action='/delete/<%= id %>' method='post'>
          <button type='submit' class='delete' name='delete'>Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
<p>
  <a href='/new'><button type='button' class='new' name='button'>Add a Flight</button></a>
</p>
